/* Style the body of the site */
body {
    background-color: tan;    
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;    
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

/* Style the top navigation bar */
.topNav {    
    background-color: darksalmon;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topNav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;    
}

/* Change the color of links on hover */
.topNav a:hover {
    background-color: #fff;
    color: darksalmon;
}

/* Add an active class to highlight the current page */
.topNav a.active {
    background-color: #fff;
    color: darksalmon;
}

/* Hide the link that should open and close the topnav on small screens */
.topNav .icon {
    display: none;
}

/* Style the home page title content */
.homeTitle {
    background-image:   linear-gradient(
                                180deg, 
                                rgba(0,0,0,0.2) 0%, 
                                rgba(0,0,0,0.7) 100%
                        ), 
                        url("img/jari-hytonen-YCPkW_r_6uA-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-size: x-large;
    padding: 150px;
    max-width: 100%;
    height: auto;
}

/* Style the home page body content */
.homeBody {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* Style the home page body items */
.volunteer, .weeklyCat {
    flex: 50%;
    padding: 5px;
}

.weeklyCat {
    border-left: dashed 2px white;
    display: flex;
    align-items: center;
}

.weeklyCat img {
    border-radius: 50%;
    max-width: 100px;
    height: auto;
}

.weeklyFeature {
    text-align: left;
    padding: 5px;
}

.homeEvent {
    border-top: dashed 2px white;
    text-align: center;
    font-size: large;
}

.homePadding {
    display: none;
}

/* Style the footer */
.footer {
    background-color: darksalmon;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-size: 17px;
    flex: 100%;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

/* About Us Styles */
.aboutUs {
    background-image:   linear-gradient(
                                180deg, 
                                rgba(0,0,0,0.2) 0%, 
                                rgba(0,0,0,0.7) 100%
                        ), 
                        url("img/alex-nicolopoulos-hxn2HjZHyQE-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-size: x-large;
    padding: 150px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
    Show the link that contains should open and close the navigation bar (.icon) */
    .topNav a:not(:first-child) {
        display: none;
    }
    .topNav a.icon {
        float: right;
        display: block;
    }

    /* The "responsive" class is added to the navigation bar with JavaScript when the user clicks on the icon. 
    This class makes the navigation bar look good on small screens (display the links vertically instead of horizontally) */
    .topNav.responsive {
        position: relative;
    }
    .topNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    /* Responsive layout for content */
    .homeBody {
        flex-wrap: wrap;
    }

    .homeTitle {
        padding: 60px;
        font-size: medium;
    }

    .volunteer, .weeklyCat {
        flex: 100%;
        border-left: none;
    }

    .weeklyCat {
        border-top: dashed 2px white;
    }

    .aboutUs {
        padding: 10px;
    }

    .aboutUs p {
        flex: 100%;
        font-size: medium;
        width: 100%;
    }
}

@media (max-width: 999px) and (min-height: 1000px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-self: stretch;
    }

    .content {
        height: 100vh;
        align-self: stretch;
    }

    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}